# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List popular libraries for Data Science
+ List popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. Numpy
3. ggplot2
4. Spark Vegas

|Data Science Tools|
|------------------|
|RStudio|
|Anaconda|
|Jupyter Notebooks|

### Some of the commonly used libraries used by Data Scientists include: ###

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author ##
Roger Montero